*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

header{
    height: 100vh;
    background-color: aquamarine;
    position: relative;
    overflow-x: hidden;
    font-family: 'Flamenco';
}

main{
    height: 100vh;
    background-color: grey;
}

header img{
    position:absolute;
    bottom: 0;
    left: 50%;
    height: 50%;
    transform: translateX(-50%);
}

header nav{
    position: absolute;
    right: 7%;
    top: 4%;
    font-size: 3rem;
}

header hgroup{
    position: absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
}

header h1{
    font-size: 3.6rem;

}

header h3{
    font-size: 3rem;
    font-weight: 400;
}

#arrow{
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 5px solid black; 
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);   
    border-radius: 50%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;

}

 @media(orientation: portrait){ */
    h3 span{
        display: inline;
    }
 }

 @media(orientation: portrait){ 
    h3 span::after{
        content: "\a ";
        white-space: pre;
      }
 }

 @media(orientation: landscape){
     header img{
         height: 60%;
         right: 0;
     }
 }

    


